<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppSon</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="styles/blog.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="homepage.html">AppSon</a>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="homepage.html">home</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="rightBlog.html">blog</a></li>
                <li><a href="#">sign in</a></li>
                <button class="sign-up-btn"><a href="#">sign up</a></button>
            </ul>
        </nav>
        <section class="main-copy">
            <div class="main-text">
                <p>Latest Info</p>
                <h1>Our Blog Post</h1>
                <p>Home - Right Side Bar Blog</p>
            </div>
            <div class="main-img">
                <img src="../assets/blog/Illustration.png" />
            </div>
        </section>
    </header>

    <section class="main-article">
        <div class="post-content">
            <div class="post">

                <div class="article">
                    <img src="../assets/blog/blog_article.png" class="blog-image" />
                    <a href="blogDetails.html">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                    </a>
                    <div class="post-stats">
                        <i class="far fa-comment-alt"> 22</i>
                        <i class="far fa-heart"> 32</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="quote">
                        <img src="../assets/blog/quotes.svg" />
                        <p>There’s such a thing as “too much information”, especially for the companies scaling out their sales operations. That’s why Attentive was born in 2015 help sales.</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="button-section">
                <div class="links-container">
                    <div class="tags">
                        <h4>Tags:</h4><a href="">Apps</a>
                    </div>
                    <div class="share-links">
                        <h4>Share:</h4>
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-youtube"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="post-nav">
                    <button class="prev-post">Previous Test</button>
                    <button class="next-post">Next Test</button>
                </div>
            </div>
            <div class="comment-section">
                <h4>Leave a Comment</h4>
                <form>
                    <input type="text" id="name" name="name" placeholder="Enter Name">
                    <input type="text" id="email" name="email" placeholder="Enter Email">
                    <textarea id="subject" name="subject" placeholder="Enter Comment"></textarea>
                    <button class="submit-form">Submit</button>
                </form>
            </div>
        </div>
        <div class="link-panel">
            <div class="search">
                <input type="text" name="search-request" placeholder="Search">
                <button type="submit"><i class=" fas fa-search "></i></button>
            </div>
            <div class="recent-posts">
                <h4 class="section-header">Recent Posts</h4>
                <div class="post-1">
                    <img src="../assets/blog/post-img-1.png" class="thumbnail" />
                    <div class="post-info">
                        <h4>The master bedroom</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="post-2">
                    <img src="../assets/blog/post-img-2.png" class="thumbnail" />
                    <div class="post-info">
                        <h4>The master bedroom</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="post-3">
                    <img src="../assets/blog/post-img-3.png" class="thumbnail" />
                    <div class="post-info">
                        <h4>The master bedroom suite</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="category">
                <h4>Category</h4>
                <ul class="category-list">
                    <li><a href="">Cloud Hosting</a></li>
                    <li><a href="">Shared Hosting</a></li>
                    <li><a href="">VPS Hosting</a></li>
                    <li><a href="">Uncategorized</a></li>
                </ul>
            </div>
            <div class="popular-tags">
                <h4>Popular Tags</h4>
                <div class="tag-links">
                    <a href="">Apps</a>
                    <a href="">Awards</a>
                    <a href="">Web Template</a>
                    <a href="">Awards</a>
                    <a href="">Web Template</a>
                    <a href="">UI</a>
                    <a href="">Web Template</a>
                    <a href="">Awards</a>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <section class="footer-top">
            <div class="footer-info">
                <div class="logo">
                    <a href="#">AppSon</a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                </ul>
            </div>
            <div class="footer-links">
                <div class="link-section-1">
                    <h4>Company</h4>
                    <ul>
                        <li>About us</li>
                        <li>Press</li>
                        <li>Reviews</li>
                        <li>Partners</li>
                    </ul>
                </div>
                <div class="link-section-2">
                    <h4>Blog</h4>
                    <ul>
                        <li>Finance</li>
                        <li>Technology</li>
                        <li>Mobile</li>
                    </ul>
                </div>
                <div class="link-section-3">
                    <h4>Integration</h4>
                    <ul>
                        <li>Android App</li>
                        <li>IOS App</li>
                        <li>Windows App</li>
                        <li>VR Box App</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <p class="copyright">© 2018 Copyright, All Rights Reserved by AppSon</p>
            <div class="footer-nav">
                <div class="footer-nav-part1">
                    <ul>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Help</li>
                    </ul>
                </div>
                <div class="footer-responsive">
                    <a href="#" class="top-btn"><i class="fas fa-arrow-up"></i></a>
                </div>
            </div>
        </section>
    </footer>
    <script src="main.js"></script>
</body>

</html>