<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppSon</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="styles/homepage.css">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <a href="#"><img src="../assets/homepage/Logo.svg" /></a>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li class="link"><a href="#">home</a></li>
                <li class="link"><a href="#">FAQ</a></li>
                <li class="link"><a href="rightBlog.html">blog</a></li>
                <li class="link"><a href="#">sign in</a></li>
                <button class="sign-up-btn"><a href="#">sign up</a></button>
            </ul>
        </nav>
        <section class="main-copy">
            <div class="main-text">
                <h1>Best Desktop App For You</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="main-button download-button">Download</button>
                <button class="main-button trial-buttton">Free Trial</button>
            </div>
            <div class="main-img">
                <img src="../assets/homepage/Device.png" />
            </div>
            <div class="mouse">
                <span><a href="#section2"><img src="../assets/homepage/ScroolDown.png" /></a></span>
            </div>

        </section>
    </header>

    <section class="section2" id="section2">
        <div class="cards-container">
            <div class="cards-all card-1">
                <img src="../assets/homepage/Icon1.svg" />
                <h4>Analysis</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="cards-all card-2">
                <img src="../assets/homepage/Icon2.svg" />
                <h4>Clean Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="cards-all card-3">
                <img src="../assets/homepage/Icon3.svg" />
                <h4>Messaging</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container1">
            <div class="container1-img">
                <img src="../assets/homepage/Rectangle.svg" class="rectangle1" />
                <img src="../assets/homepage/messaging_img.png" class="photos1" />
            </div>
            <div class="container1-info">
                <h3>Easy Messaging</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="read-more-btn">Read More<i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="container2">
            <div class="container2-info">
                <h3>Keep In Touch</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="read-more-btn">Read More<i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="container2-img">
                <img src="../assets/homepage/Rectangle.svg" class="rectangle2" />
                <img src="../assets/homepage/keepintouch.png" class="photos2" />
            </div>

        </div>
    </section>
    <section class="section4">
        <div class="section-header">
            <h3>How Does It Work?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="cards-container container-section4">
            <hr />
            <div class="account-card">
                <img src="../assets/homepage/account_icon.svg" />
                <h4>Create An Account</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="email-card">
                <img src="../assets/homepage/email_icon.svg" />
                <h4>Confirm Email</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
            <div class="results-card">
                <img src="../assets/homepage/results_icon.svg" />
                <h4>See Results</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="pricing-info">
            <h3>Pricing Plan</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
            <input id="on" class="toggle left" name="toggle" value="monthly" type="radio" checked>
            <label for="on" class="button-left">Monthly</label>
            <input id="off" class="toggle right" name="toggle" value="yearly" type="radio">
            <label for="off" class="button-right">Yearly</label>
        </div>
        <div class="pricing-cards">
            <div class="pricing-card1">
                <img src="../assets/homepage/standart-icon.svg" class="standart-icon" />
                <h4>Standard</h4>
                <ul class="pricing-list">
                    <li>2gb Hosting</li>
                    <li>10 Custom Domain</li>
                    <li>SSD Hosting</li>
                    <li>50gb Bandwidth</li>
                    <li>Free Support</li>
                </ul>
                <p class="price"><span>$</span>19.00</p>
                <button class="try-now-active">Try Now</button>
            </div>
            <div class="pricing-card2">
                <img src="../assets/homepage/premium-icon.svg" class="premium-icon" />
                <h4>Premium</h4>
                <ul class="pricing-list">
                    <li>2gb Hosting</li>
                    <li>10 Custom Domain</li>
                    <li>SSD Hosting</li>
                    <li>50gb Bandwidth</li>
                    <li>Free Support</li>
                </ul>
                <p class="price"><span>$</span>49.00</p>
                <button class="try-now">Try Now</button>
            </div>
        </div>
    </section>
    <section class="section6">
        <img src="../assets/homepage/testimonials.png" class="main-section-img" />
        <div class="testimonials">
            <h3>Trusted By More Than 55M People</h3>
            <div class="review-list">
                <img src="../assets/homepage/review_1.png" />
                <img src="../assets/homepage/review_2.png" />
                <img src="../assets/homepage/review_3.png" class="last-review" />
            </div>
            <div class="review-pagination">
                <img src="../assets/homepage/review_pagination.png" />
            </div>
        </div>
    </section>
    <section class="section7">
        <div class="section-header">
            <h3>Latest News From Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="news-articles">
            <div class="main-article">
                <img src="../assets/homepage/main-article.png" />
                <h3>The master bedroom suite is phenomenaly spacious</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="continue-btn">Continue Reading<i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="all-articles">
                <div class="article1">
                    <img src="../assets/homepage/article1.png" />
                    <div class="article-info">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
                <div class="article2">
                    <img src="../assets/homepage/article2.png" />
                    <div class="article-info">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
                <div class="article3">
                    <img src="../assets/homepage/article3.png" />
                    <div class="article-info">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section8">
        <div class="free-trial">
            <h4>Try 30 Days Free Trial</h4>
            <p>No creadit card required</p>
        </div>
        <button class="free-trial-btn">Get Started<i class="fas fa-arrow-right"></i></button>
    </section>

    <section class="section9">
        <div class="subscribe">
            <span class="img-container">
			<a href="homepage.html"><img src="../assets/homepage/Logo.svg" class="subscribe-logo" alt="logo" /></a>
			</span>
            <div class="submit-form">
                <input type="text" name="email" placeholder="Enter Your Email">
                <input type="submit" value="Subscribe">
            </div>
        </div>
    </section>

    <footer>
        <p class="copyright">© 2018 Copyright, All Rights Reserved by AppSon</p>
        <div class="footer-nav">
            <div class="footer-nav-part1">
                <ul>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                    <li>Help</li>
                </ul>
            </div>
            <div class="footer-responsive">
                <div class="footer-nav-part2">
                    <ul>
                        <li><i class="fab fa-facebook-f"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-youtube"></i></li>
                    </ul>
                </div>
                <a href="#" class="top-btn"><i class="fas fa-arrow-up"></i></a>
            </div>
        </div>
    </footer>
    <script src="main.js"></script>
</body>

</html>