<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppSon</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="styles/blog.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="homepage.html">AppSon</a>
            </div>
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a href="homepage.html">home</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="login.html">sign in</a></li>
                <button class="sign-up-btn"><a href="signup.html">sign up</a></button>
            </ul>
        </nav>
        <section class="main-copy">
            <div class="main-text">
                <p>Latest Info</p>
                <h1>Our Blog Post</h1>
                <p>Home - Right Side Bar Blog</p>
            </div>
            <div class="main-img">
                <img src="../assets/blog/Illustration.png" />
            </div>
        </section>
    </header>
    <section class="main-content">
        <div class="blog-posts">
            <div class="blog-post card-1">
                <img src="../assets/blog/blog-img-1.png" class="blog-image" />
                <div class="post-info">
                    <a href="blogDetails.html">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                    </a>
                    <div class="stats">
                        <i class="far fa-calendar-alt"> 16 June, 2018</i>
                        <i class="far fa-comment-alt"> 22</i>
                        <i class="far fa-heart"> 32</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <button class="continue-btn">Continue Reading<i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="blog-post card-2">
                <img src="../assets/blog/blog-img-2.png" class="blog-image" />
                <div class="post-info">
                    <a href="blogDetails.html">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                    </a>
                    <div class="stats">
                        <i class="far fa-calendar-alt"> 16 June, 2018</i>
                        <i class="far fa-comment-alt"> 22</i>
                        <i class="far fa-heart"> 32</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <button class="continue-btn">Continue Reading<i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="blog-post card-3">

                <img src="../assets/blog/blog-img-3.png" class="blog-image" />
                <div class="post-info">
                    <a href="blogDetails.html">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                    </a>
                    <div class="stats">
                        <i class="far fa-calendar-alt"> 16 June, 2018</i>
                        <i class="far fa-comment-alt"> 22</i>
                        <i class="far fa-heart"> 32</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <button class="continue-btn">Continue Reading<i class="fas fa-arrow-right"></i></button>
                </div>

            </div>
            <div class="blog-post card-4">
                <img src="../assets/blog/blog-img-4.png" class="blog-image" />
                <div class="post-info">
                    <a href="blogDetails.html">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                    </a>
                    <div class="stats">
                        <i class="far fa-calendar-alt"> 16 June, 2018</i>
                        <i class="far fa-comment-alt"> 22</i>
                        <i class="far fa-heart"> 32</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <button class="continue-btn">Continue Reading<i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="blog-post card-5">
                <img src="../assets/blog/blog-img-5.png" class="blog-image" />
                <div class="post-info">
                    <a href="blogDetails.html">
                        <h4>The master bedroom suite is phenomenaly spacious</h4>
                    </a>
                    <div class="stats">
                        <i class="far fa-calendar-alt"> 16 June, 2018</i>
                        <i class="far fa-comment-alt"> 22</i>
                        <i class="far fa-heart"> 32</i>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <button class="continue-btn">Continue Reading<i class="fas fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="pagination">
                <img src="../assets/blog/pagination.png" />
            </div>
        </div>
        <div class="link-panel">
            <div class="search">
                <input type="text" name="search-request" placeholder="Search">
                <button type="submit"><i class=" fas fa-search "></i></button>
            </div>
            <div class="recent-posts">
                <h4 class="section-header">Recent Posts</h4>
                <div class="post-1">
                    <img src="../assets/blog/post-img-1.png" class="thumbnail" />
                    <div class="post-info">
                        <h4>The master bedroom</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="post-2">
                    <img src="../assets/blog/post-img-2.png" class="thumbnail" />
                    <div class="post-info">
                        <h4>The master bedroom</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="post-3">
                    <img src="../assets/blog/post-img-3.png" class="thumbnail" />
                    <div class="post-info">
                        <h4>The master bedroom suite</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="category">
                <h4>Category</h4>
                <ul class="category-list">
                    <li><a href="">Cloud Hosting</a></li>
                    <li><a href="">Shared Hosting</a></li>
                    <li><a href="">VPS Hosting</a></li>
                    <li><a href="">Uncategorized</a></li>
                </ul>
            </div>
            <div class="popular-tags">
                <h4>Popular Tags</h4>
                <div class="tag-links">
                    <a href="">Apps</a>
                    <a href="">Awards</a>
                    <a href="">Web Template</a>
                    <a href="">Awards</a>
                    <a href="">Web Template</a>
                    <a href="">UI</a>
                    <a href="">Web Template</a>
                    <a href="">Awards</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <section class="footer-top">
            <div class="footer-info">
                <div class="logo">
                    <a href="#">AppSon</a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-youtube"></i></li>
                </ul>
            </div>
            <div class="footer-links">
                <div class="link-section-1">
                    <h4>Company</h4>
                    <ul>
                        <li>About us</li>
                        <li>Press</li>
                        <li>Reviews</li>
                        <li>Partners</li>
                    </ul>
                </div>
                <div class="link-section-2">
                    <h4>Blog</h4>
                    <ul>
                        <li>Finance</li>
                        <li>Technology</li>
                        <li>Mobile</li>
                    </ul>
                </div>
                <div class="link-section-3">
                    <h4>Integration</h4>
                    <ul>
                        <li>Android App</li>
                        <li>IOS App</li>
                        <li>Windows App</li>
                        <li>VR Box App</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <p class="copyright">© 2018 Copyright, All Rights Reserved by AppSon</p>
            <div class="footer-nav">
                <div class="footer-nav-part1">
                    <ul>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                        <li>Help</li>
                    </ul>
                </div>
                <div class="footer-responsive">
                    <a href="#" class="top-btn"><i class="fas fa-arrow-up"></i></a>
                </div>
            </div>
        </section>
    </footer>
    <script src="main.js"></script>
</body>

</html>